@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
:root {
    font-family: 'Amatic SC', cursive;
}
body {
    background: black;
    max-width: 980px;
    margin: auto;
}
p {
    color: white;
}
h3 {
    color: white;
}
ul {
    color: white;
}
h1 {
    color: white;
}
#logo {
    font-family: 'Amatic SC', cursive;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    color: white;
  
}
#logo2 {
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
    text-align: center;
    color: white;
   
}
a.button1{
display:inline-block;
padding:0.35em 1.2em;
border:0.1em solid #EAB208;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#FFFFFF;
text-align:center;
transition: all 0.9s;

}
a.button1:hover{
color:#000000;
background-color:#FFFFFF;
}
@media all and (max-width:30em){
a.button1{
display:block;
margin:0.4em auto;
}
}
header .nav {
    display: flex;
    justify-content: space-between;
}
main {
    display: flex;
    justify-content: space-between;
}
#Hellow {
    font-size: 20px;
}
img.foto  {
margin-left: 30%;
} 
hr {
    color: orange;
}
section.contact {
    display: flex;
    justify-content: space-between;
}
#icon {
    width: 50px;
    height: 50px;
}
section.link {
    display: flex;
    justify-content: space-between;
}
#icon1 {
    width: 100px;
    height: 100px;
}